@{
    Layout = "MasterPage";
    ViewBag.Title = "Cadastro de usuários";
}

<h1 class="display-1"> Formulário</h1>

<form action="/Usuario/Cadastrar" method="POST">

<div class ="container">

 <div class="form-group">
    <label>
        Nome
        <input type="text" class="form-control" name="nome">
    </label>

    <label>
        Email
        <input type="text" class="form-control" name="email">
    </label>
    <label>
        Senha
        <input type="text" class="form-control" name="senha">
    </label>
    <label>
        Data de Nascimento
        <input type="date" class="form-control" name="datanascimento">
    </label>
    <input type="submit" value="Cadastrar">
        </div>

    </div>
</form>